<!-- <section class="about-vyshyvanka">
    <div class="container">
    <h2 class="about-section">About Us</h2>
    <p class="class-vibes">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes to life with new zest and style. Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance of traditional needlework and modern design.
    </p>
    <p class="class-vibes">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to modern, corresponding to the latest fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified craftsmen who convey the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a symbol of national pride, the heritage of our ancestors and a way of expressing one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.
    </p>
    <picture>
        <source
          srcset="
            ./img/dekstop-min.jpg   1x,
            ./img/dekstop2x-min.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/tablet1x-min.jpg 1x,
            ./img/tablet2x-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mobile1x-min.jpg 1x,
            ./img/mobile2x-min.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img class="photo-vyshyvanka"
          src="./img/dekstop-min.jpg"
          alt="girl and boy"
          width="594"
          height="545"
        />
      </picture>
    </div>
</section> -->
