<section class="our-collection">
  <div class="container">
    <h2 class="collection-title" id="our-collection-id">Our collection</h2>
    <div class="collection-container">
      <ul class="collection-list">
        <li class="collection-list-item">
          <div class="collection-card-first">
            <div class="collection-img-container">
              <picture>
                <source
                  srcset="
                    ./img/col-des-1-min.jpg    1x,
                    ./img/col-des-1-2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/col-tab-1-min.jpg    1x,
                    ./img/col-tab-1-2x-min.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/col-mob-1-min.jpg    1x,
                    ./img/col-mob-1-2x-min.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/col-mob-1-min.jpg"
                  alt="Poltava women's blouse"
                  class="collection-img"
                />
              </picture>
            </div>
            <h3 class="collection-name">
              AUGUST Poltava women's blouse<span class="span-collection-ring"
                >RING</span
              ><span class="span-collection-points">...</span>
            </h3>
            <p class="collection-cost">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-cards">
            <div class="collection-img-container">
              <picture>
                <source
                  srcset="
                    ./img/col-des-2-min.jpg    1x,
                    ./img/col-des-2-2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/col-tab-2-min.jpg    1x,
                    ./img/col-tab-2-2x-min.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/col-mob-2-min.jpg    1x,
                    ./img/col-mob-2-2x-min.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/col-mob-2-min.jpg"
                  alt="Women's blouse Gorgany"
                  class="collection-img"
                />
              </picture>
            </div>
            <h3 class="collection-name">Women's blouse Gorgany</h3>
            <p class="collection-cost">3350 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-cards">
            <div class="collection-img-container">
              <picture>
                <source
                  srcset="
                    ./img/col-des-3-min.jpg    1x,
                    ./img/col-des-3-2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/col-tab-3-min.jpg    1x,
                    ./img/col-tab-3-2x-min.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/col-mob-3-min.jpg    1x,
                    ./img/col-mob-3-2x-min.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/col-mob-3-min.jpg"
                  alt="Women's blouse Crimea"
                  class="collection-img"
                />
              </picture>
            </div>
            <h3 class="collection-name">Women's blouse Crimea</h3>
            <p class="collection-cost">4000 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-cards">
            <div class="collection-img-container">
              <picture>
                <source
                  srcset="
                    ./img/col-des-4-min.jpg    1x,
                    ./img/col-des-4-2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/col-tab-4-min.jpg    1x,
                    ./img/col-tab-4-2x-min.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/col-mob-4-min.jpg    1x,
                    ./img/col-mob-4-2x-min.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/col-mob-4-min.jpg"
                  alt="Men's shirt Verkhovina"
                  class="collection-img"
                />
              </picture>
            </div>
            <h3 class="collection-name">Men's shirt Verkhovina</h3>
            <p class="collection-cost">3100 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-cards">
            <div class="collection-img-container">
              <picture>
                <source
                  srcset="
                    ./img/col-des-5-min.jpg    1x,
                    ./img/col-des-5-2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/col-tab-5-min.jpg    1x,
                    ./img/col-tab-5-2x-min.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/col-mob-5-min.jpg    1x,
                    ./img/col-mob-5-2x-min.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="../img/col-mob-5-min.jpg"
                  alt="Mountain men's shirt"
                  class="collection-img"
                />
              </picture>
            </div>
            <h3 class="collection-name">Mountain men's shirt</h3>
            <p class="collection-cost">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <div class="collection-cards">
            <div class="collection-img-container">
              <picture>
                <source
                  srcset="
                    ./img/col-des-6-min.jpg    1x,
                    ./img/col-des-6-2x-min.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/col-tab-6-min.jpg    1x,
                    ./img/col-tab-6-2x-min.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/col-mob-6-min.jpg    1x,
                    ./img/col-mob-6-2x-min.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/col-mob-6-min.jpg"
                  alt="Men's shirt Yasen"
                  class="collection-img"
                />
              </picture>
            </div>
            <h3 class="collection-name">Men's shirt Yasen</h3>
            <p class="collection-cost">1700 UAH</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
