<footer class="footer-container">
  <div class="container">
    <ul class="menu-list-footer">
      <li class="menu-item-footer">
        <a href="#about-us-id" class="link-footer">About us</a>
      </li>
      <li class="menu-item-footer">
        <a href="#your-order-id" class="link-footer">Customer order</a>
      </li>
      <li class="menu-item-footer">
        <a href="#our-collection-id" class="link-footer">Our collection</a>
      </li>
      <li class="menu-item-footer">
        <a href="#testimonials-id" class="link-footer">TEstimonials</a>
      </li>
    </ul>

    <p class="footer-title">
      A touch of <span class="accent">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
