<footer class="footer-container">
  <div class="container">
    <ul class="menu-list-footer">
      <li class="menu-item-footer">
        <a href="#about-us-id">About us</a>
      </li>
      <li class="menu-item-footer">
        <a href="#custoner-order-id">Customer order</a>
      </li>
      <li class="menu-item-footer">
        <a href="#our-collection-id">Our collection</a>
      </li>
      <li class="menu-item-footer">
        <a href="#testimonials-id">TEstimonials</a>
      </li>
    </ul>

    <p class="footer-title">
      A touch of <span class="accent">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
