<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html"
      ><img src="./img/logo.svg" alt="logo" width="44" height="39" />
    </a>
    <nav class="header-navigation">
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link" href="./index.html">About us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Our collection</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Customer order</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Testimonials</a>
        </li>
      </ul>
    </nav>
    <div class="header-contacts">
      <address class="header-adress">
        <a class="header-contacts-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
      <ul class="social-list">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            ><svg class="social-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            ><svg class="social-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="mobile-menu">
        <input class="mobile-menu__toggle" type="checkbox" id="toggle" />
        <label class="mobile-menu__btn" for="toggle"
          ><span class="mobile-menu__icon"></span
        ></label>
        <div class="mobile-menu__bg"></div>
        <address class="mobile-adress">
          <a class="mobile-contacts-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </address>
        <nav class="mobile-menu__nav">
          <ul class="mobile-menu__list">
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="./index.html">About us</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="">Our collection</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="">Customer order</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="">Testimonials</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
