.about-vyshyvanka {
    padding-top: 80px;
    padding-bottom: 40px;
}
.about-vyshyvanka {
  background-image: url(../img/g8mob.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  max-width: 375px;
  margin: 0 auto;

}
 
.about-title { 
 margin-bottom: 40px; 
font-size: 32px;
font-weight: 500;
line-height: 1.4;
letter-spacing: 0.03em;
}

.class-vibes {
 color: rgba(252, 249, 249, 0.40);
 font-size: 14px;  
 line-height: normal;
 letter-spacing: 0.04em;
 max-width: 335px;
}      
 
.class-vibes-margin {
 margin-bottom: 20px;
}
 
.about-content {
 margin-bottom: 50px;
}

.photo-vyshyvanka-about {
 border-radius: 4px;
 margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .about-vyshyvanka {
        padding-top: 100px;
        padding-bottom: 50px;

    }   
    .about-vyshyvanka {
        background-image: url(../img/g8.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        max-width: 768px;
        
     }  
    
    

    .about-title {
      font-size: 44px;
      line-height: 1.45;
      
    } 

    .class-vibes {
      max-width: 704px;
      font-size: 16px;
      

    } 
     .about-content {
        margin-bottom: 40px;
     }
      .photo-vyshyvanka-about{
      width: 704px;
      height: 545px;
    }
        }


@media screen and (min-width: 1280px) {
    .about-vyshyvanka {
        padding-top: 150px;
        padding-bottom: 75px;
    }

    .about-vyshyvanka {
      background-image: url(../img/g8.png);
      background-position: right bottom;
      background-repeat: no-repeat;
      max-width: 1280px;
   }   
     
  
  

    .class-vibes {
     max-width: 436px;
    } 

    .about-box {

        display: flex;
        align-items: center;
        gap: 50px;
    }

    .about-content {
       margin-bottom: 0;
    }

    .photo-vyshyvanka-about {
      width: 594px;
      height: 545px;
    }
}
