.about-vyshyvanka {
    margin-top: 80px;
}

.about-section { 
 margin-bottom: 40px; 
font-size: 32px;
font-weight: 500;
line-height: 1.4;
letter-spacing: 0.03em;
}

.class-vibes {
 color: rgba(252, 249, 249, 0.40);
 font-size: 14px;  
 line-height: normal;
 letter-spacing: 0.04em;
 max-width: 335px;
}      
 
.class-vibes-margin {
 margin-bottom: 20px;
}
 
.about-content {
 margin-bottom: 50px;
}
.photo-vyshyvanka {
 border-radius: 4px;
 margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .about-section {
      font-size: 44px;
      line-height: 1.45;
      letter-spacing: 0.03em;
    }  
    .class-vibes {
      max-width: 704px;
      font-size: 16px;
      letter-spacing: 0.04em;

    } 
    .photo-vyshyvanka{
    width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .class-vibes {
     max-width: 436px;
    } 
    .about-box {
        display: flex;
        gap: 50px;
    }
    .about-content {
        /* display: flex;
        flex-direction: column;
        align-content: center; */
        
    }
}
