body{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #FCF9F9;
    background-color: #1C2225;
}


.container {
    margin: 0 auto;
    padding: 20px;
}



@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        
    }
}



@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px;
    }
}