body{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #FCF9F9;
    background-color: #1C2225;

}




@media screen and (min-width: 768px) {
    .container {
        max-width: 704px;
        padding: 0 32px
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1080px;
        padding: 0 100px;
    }
}