.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.header-logo {
  cursor: pointer;
}
.header-navigation {
  display: none;
}
.header-menu {
  display: flex;
  gap: 25px;
}
.header-menu-link {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #ecd979;
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-adress {
  display: none;
}
.header-contacts-link {
  font-size: 14px;
  line-height: 1.43;
  font-style: normal;
  padding: 14px 28px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  border-color: #ecd979;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.social-item {
  width: 46px;
  height: 46px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(252, 249, 249, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #fcf9f9;
  opacity: 0.8;
}
.social-link:hover,
.social-link:focus {
  border-color: #ecd979;
  background-color: transparent;
}
.menu-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}
.menu-open-btn-icon {
  stroke: yellow;
}
.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 274px;
  height: 100vh;
  padding: 20px;
  background-color: #ecd979;
  background-image: url(../img/vyshyvanka.png);
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contact-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 186px;
}
.menu-contacts {
  color: #1c2225;
  font-size: 12px;
  line-height: 1.17;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  padding: 12px 20px;
  display: inline-flex;
}
.menu-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0;
}
.menu-close-btn-icon {
  stroke: #1c2225;
}
.menu-list {
  text-align: right;
}
.menu-link {
  color: #1c2225;
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
  text-transform: uppercase;
}
.menu-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    background-image: url(../img/vyshyvanka-bg-tab.png);
    width: 380px;
    padding: 20px 32px;
  }
  .menu-contacts {
    font-size: 14px;
    line-height: 1.43;
    padding: 14px 28px;
  }
  .menu-contact-close {
    margin-bottom: 223px;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-open-btn {
    display: none;
  }
  .header-navigation {
    display: block;
  }
  .header-adress {
    display: block;
  }
  .mob-menu {
    display: none;
  }
  .header-contacts {
    gap: 20px;
  }
}
